@{
    ViewData["Title"] = "Anasayfa";
}
<div class="row home">
    <div class="col-sm-6 redirect-card" >
        <div class="card" >
            <div class="card-body bg-light text-center ">
                <h5 class="card-title">Kişi Ekleme</h5>
                <p class="card-text">Kişi ekleme sayfasına aşağıdaki buton üzerinden ulababilirsiniz.</p>
                <a href="/kisi-ekle" class="btn btn-dark">Sayfaya Git</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6  redirect-card">
        <div class="card">
            <div class="card-body bg-light text-center ">
                <h5 class="card-title">Kişi Listesi</h5>
                <p class="card-text">Daha önce eklemiş tüm kişilerin listesine,aşağıdaki buton üzerinden ulaşabilirsiniz.</p>
                <a href="/kisi-listesi" class="btn btn-dark">Sayfaya Git</a>
            </div>
        </div>
    </div>
</div>